pacote-download/Projeto Frases Motivacionais/1b - arquivos/__MACOSX/frases-motivacionais/._.DS_Store
pacote-download/Projeto Frases Motivacionais/1b - arquivos/frases-motivacionais/.DS_Store
pacote-download/Projeto Frases Motivacionais/__MACOSX/frases-motivacionais/._.DS_Store
pacote-download/Projeto Frases Motivacionais/frases-motivacionais/.DS_Store
